body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', sans-serif;
    box-sizing: border-box;
}
.hero1 {
    height: auto;
    width: 100%;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color:#F2E8E4 ;
    text-decoration: none;
    font: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #BF6B63;
    transition: .4s;
}

.btn {
    background-color: #BF6B63;
    color: #F2E8E4;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: .4s;
}

.btn:hover {
    transition: scale(1.9);
    color: #F2E8E4;
    background-color: #BF6B63;
}


span {
    font-weight: bold;
    color: #BF6B63;
}

/* HERE IT IS THE LOGO DETAILS*/

#bg-black {
    background-color: black;
}

.logo {
   position: absolute;
   width: 10%;
   height: auto;
   border: 3px solid #F2E8E4;
   border-radius: 20%;
   left: 45%;
   top: 50%;
   right: var(-50% -50%);
}

#logo-main {
    position: relative;
    width: 20%;
    height: auto;
    left: 0;
    top: 0;
    background-color: black;
    cursor: pointer;
}

/*  style benvenuti starts here */

.benvenuti {
    width: 100%;
    padding: 100px 0px;
    background-color: white;
}

.benvenuti img {
    height: auto;
    width: 350px;
}
.benvenuti-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.benvenuti-text h2{
    color: #BF6B63;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.benvenuti-text h5 {
    color: #BF6B63;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.benvenuti-text p {
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 15px;
    margin-bottom: 45px;
}

button {
    background-color: #BF6B63;
    color: #F2E8E4;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 12px 30px;
    border-radius: 20px;
    transition: .4s;
}

button:hover {
    background-color: black;
    border: 2px solid pink;
    cursor: pointer;
}


/* style about us starts here */

.service {
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: white;
    font-size: 30px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box-ab {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card-ab {
    height: 365px;
    width: 280px;
    padding: 20px 35px;
    background: white;
    border-radius: 30px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card-ab i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #BF6B63;
}

h5 {
    color:#BF6B63;
    font-size: 20px;
    margin-bottom: 15px;
}

.title h3 {
    color:#BF6B63;
    font-size: 40px;
    font-size: 30px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.pro p {
    color:black;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card-ab .button {
    background-color: #BF6B63;
    color: white;
    text-decoration:none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s; 
}

.card-ab .button:hover {
    background-color: black;
    border: 2px solid pink;
    cursor: pointer;
}


/* style contac us starts here */


.box-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card-cnt {
    height: 465px;
    width: 600px;
    padding: 20px 35px;
    background: white;
    border-radius: 30px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.contact-me {
     width: 100%;
     height: 290px;
     background: #191919;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
}

.contact-me p a  {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.p-con {
    color: #101010;
    font-weight:lighter;
    font-size: 15px;
}

.map-wrapper {
    border: 2px solid rosybrown;
    border-radius: 35px;
}


/* FILE become a member */


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    min-height: 100%;
    height: 700px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    max-width: 1200px;
    width: 100%;
}

.card {
    position: relative;
    list-style: none;
    height: 450px;
}

.background {
    position: absolute;
    border-radius: 50px;
    top:0%;
    left: 0;
    right: 0%;
    bottom: 0%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.75) saturate(1,2) contrast(0.85);
    transform: scale(1) translateZ(0);
    transform-origin: center;
    transition: filter 200ms linear,transform 200ms linear;
}

.card:hover .background { 
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .background{ 
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
}

.content .category {
    color: rgba(255, 255, 255);
    text-transform: uppercase;
    font-size: 0.9rem;
}

.content .heading {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.9rem;
    line-height: 1.4;
    word-spacing: 100vw;
    text-shadow: 2px 2px 20px rgba( 0, 0, 0, 0.2);
}

@media screen and ( max-width: 960px) {
    .card-grid{
          grid-template-columns: repeat(1,1fr);
          
    }
}

@media screen and ( max-width: 460px) {
    .card-grid{
          grid-template-columns: repeat(1,1fr);
          
    }
}

/* standard style start here */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    min-height: 100%;
    height: 700px;
}

.card-grid-standard {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-column-gap: 24px;
    max-width: 1200px;
    width: 100%;
}

.card {
    position: relative;
    list-style: none;
    height: 550px;
}

.background-standard {
    position: absolute;
    border-radius: 50px;
    top:0%;
    left: 0;
    right: 0%;
    bottom: 0%;
    background-size: contain;
    background-position: center;
    filter: brightness(0.75) saturate(1,2) contrast(0.85);
    transform: scale(1) translateZ(0);
    transform-origin: center;
    transition: filter 200ms linear,transform 200ms linear;
}

.card:hover .background-standard { 
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .background-standard{ 
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.content-ss {
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
}

.content-ss .category {
    color: rgba(255, 255, 255);
    text-transform: uppercase;
    font-size: 0.9rem;
}

.content-ss .heading {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.9rem;
    line-height: 1.4;
    word-spacing: 100vw;
    text-shadow: 2px 2px 20px rgba( 0, 0, 0, 0.2);
}


.pp {
    position: absolute;
    color: white;
    font-size: 1.4rem;
    display: grid;
    justify-items: center;
    align-content:space-around;
    left: 45%;
}