/* HERE ARE GENERAL STYLE OF LOGO AND PAGES*/
body{
      margin: 0;
      padding: 0;
      font-family: 'Times New Roman', sans-serif;
      height: 100vh;
}

nav ul {
      margin-top: 0.5rem;
      padding: 0.5rem;
      text-align: center;
      list-style: none;
      background-color: black;
}

nav li{
      line-height: 40px;
      height: 40px;
      font-size: 1.2em;
      display: inline-block;
      margin: 2.5%;
}

nav a{
      text-decoration: none;
      color:#F2E8E4; 
      display: block;
}
nav a:hover {
      color: #BF6B63;
}
  
/* HERE IT IS THE LOGO DETAILS*/

#bg-black {
      background-color: black;
}

.logo {
     position: absolute;
     width: 10%;
     height: auto;
     border: 3px solid #F2E8E4;
     border-radius: 20%;
     left: 46%;
     top: 40%;
     right: var(-50% -50%);
}

#logo-main {
      position: relative;
      width: 20%;
      height: auto;
      left: 0;
      top: 0;
      background-color: black;
}




/* register form ---- HERE IS ALL THE STYLES OF REGISTER FORM*/


.image-bk {
      background-image: url("../images/register.jpg");
      height: 750px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      
}

.container {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      border-color: 2px solid #BF6B63;
      background-color: #F2E8E4;
}

label {
      color: #BF6B63;
      font-size: 16px;
      margin-top: 0.5rem;
}


#style{
      text-align: center;
      border-radius: 10px;
      margin-top: 0.5rem;

}
.button1 {
       border-radius: 10px;
       background-color: #BF6B63;
       color:#F2E8E4;
}


/* HERE IS THE STYLE OF THE BENVENUTI PAGE*/


 #heading {
      color: #BF6B63;
      padding: 0.5rem;
      margin-left: 1rem;
}

 #sp { 
      font-weight: bolder;
}


#pp {
      color: black;
      background-color: white;
      padding-left: 1.5rem;
}

.benvenutibox {
      background-color: white;
      width: 40%;
      height: auto;
      margin: 0.5rem;
      padding: 1rem;
      text-align: left;}

      .imagecontainer{
            position: absolute;
            background-position: center;
            left: 50%;
            top: 40%;
      }
      .box{
            border: 2px solid white;
            width: 350px;
            height: 500px;
            position: absolute;
            display: flex;
            margin-top: 0.5rem;
            z-index: 1;
            top: 5px;
      }
      .box1{
            background-color: white;
            border: 2px solid white;
            width: 350px;
            height: 400px;
            position: absolute;
            display: flex;
            z-index: 2;
            top: 285px;
            left: 300px;
      }

      .box2{
            background-color: white;
            width: 455px;
            height: 450px;
            position: absolute;
            display: flex;
            z-index: 3;
            top: 600px;
            
      }

#image1 {
      background-image: url("/asset/images/background-1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
       width: 100%;
       height: auto;     
       margin: 0.5rem; 
}

#image2 {
      background-image: url("/asset/images/background2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      height: auto;
      margin: 0.5rem;      
}

#image3 { background-image: url("/asset/images/discovery.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          position: relative;
          width: 450px;
          height: auto;
          margin: 0.5rem;
}

/* end of benvenuti*/


/* About us*/

#map {
      height: 70%;
      width: 90%;
      border: none;
  }

#email {
    padding: 2rem;
} 

#map-wrapper {
      width: 90%;
      height: 80%;
      position: absolute;
      left: 10%;
      top: 40%;
  }

  .about-us-style {
      margin: 2rem;
      width: 95%;
      height: 95%;
      background-color: #F2E8E4;
      font-weight: bold;
      font-style: normal;
      position: absolute;
  }

@media screen and ( max-width: 960px) {
      .about-us-style{
            width: 90%;
            padding: 2rem;
            height: 90%;
            position: absolute;
      }
}

@media screen and ( max-width: 460px) {
      .about-us-style{
            padding: 2rem;
            width: 90%;
            height: 90%;
            position: absolute;   
      }
}



 /* FILE become a member */


.hero {
      display: flex;
      justify-content: center;
      align-items: center;
      background: black;
      min-height: 100%;
}

.card-grid{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 24px;
      max-width: 1200px;
      width: 100%;
}

.card {
      position: relative;
      list-style: none;
      height: 450px;
}
 
.background {
      position: absolute;
      border-radius: 50px;
      top:0%;
      left: 0;
      right: 0%;
      bottom: 0%;
      background-size: cover;
      background-position: center;
      filter: brightness(0.75) saturate(1,2) contrast(0.85);
      transform: scale(1) translateZ(0);
      transform-origin: center;
      transition: filter 200ms linear,transform 200ms linear;
}

.card:hover .background { 
      transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .background{ 
      filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.content {
      position: absolute;
      top: 0;
      left: 0;
      padding: 24px;
}

.content .category {
      color: rgba(255, 255, 255);
      text-transform: uppercase;
      font-size: 0.9rem;
}

.content .heading {
      color: rgba(255, 255, 255, 0.9);
      font-size: 1.9rem;
      line-height: 1.4;
      word-spacing: 100vw;
      text-shadow: 2px 2px 20px rgba( 0, 0, 0, 0.2);
}

@media screen and ( max-width: 960px) {
      .card-grid{
            grid-template-columns: repeat(1,1fr);
            
      }
}

@media screen and ( max-width: 460px) {
      .card-grid{
            grid-template-columns: repeat(1,1fr);
            
      }