/* HERE ARE GENERAL STYLE OF LOGO AND PAGES*/
body{
      margin: 0;
      padding: 0;
      font-family: 'Times New Roman', sans-serif;
      height: 100vh;
}

nav ul {
      margin-top: 0.5rem;
      padding: 0.5rem;
      text-align: center;
      list-style: none;
      background-color: black;
}

nav li{
      line-height: 40px;
      height: 40px;
      font-size: 1.2em;
      display: inline-block;
      margin: 2.5%;
}

nav a{
      text-decoration: none;
      color:#F2E8E4; 
      display: block;
}
nav a:hover {
      color: #BF6B63;
}
  
/* HERE IT IS THE LOGO DETAILS*/
.logo {
   background-color: black;
     position: absolute;
     width: 10%;
     height: auto;
     border: 3px solid #F2E8E4;
     border-radius: 20%;
     left: 45%;
     top: 40%;
}

#logo-main {
      position: relative;
      width: 20%;
      height: auto;
      left: 0%;
      top: 0%;
      background-color: black;
}

/* register form ---- HERE IS ALL THE STYLES OF REGISTER FORM*/


.image-bk {
      background-image: url("images/register.jpg");
      height: 750px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      
}

.container {
      border: 2px solid #BF6B63;
      background-color:#F2E8E4;
      text-align: center;
      width: 20%;
      padding: 0.5rem;
      position: relative;
      left: 40%;
      top: 55%;
      border-radius: 50px;
}

label {
      color: #BF6B63;
      font-size: 16px;
      margin-top: 0.5rem;
}


#style{
      text-align: center;
      border-radius: 10px;
      margin-top: 0.5rem;

}
.button1{
       border-radius: 10px;
       background-color: #BF6B63;
       color:#F2E8E4;
}

/* HERE IS THE STYLE OF THE BENVENUTI PAGE*/


section h2 {
      color: #BF6B63;
      padding: 0.5rem;
      margin-left: 1rem;
}

section span{ 
      font-weight: bolder;
}


section p{
      color: black;
      background-color: white;
      padding-left: 1.5rem;
}
.benvenutibox {
      background-color: white;
      width: 40%;
      height: auto;
      margin: 0.5rem;
      padding: 1rem;
      text-align: left;}

      .imagecontainer{
            position: absolute;
            background-position: center;
            left: 50%;
            top: 40%;
      }
      .box{
            border: 2px solid white;
            width: 350px;
            height: 500px;
            position: absolute;
            display: flex;
            margin-top: 0.5rem;
            z-index: 1;
            top: 5px;
      }
      .box1{
            background-color: white;
            border: 2px solid white;
            width: 350px;
            height: 400px;
            position: absolute;
            display: flex;
            z-index: 2;
            top: 285px;
            left: 300px;
      }

      .box2{
            background-color: white;
            width: 455px;
            height: 450px;
            position: absolute;
            display: flex;
            z-index: 3;
            top: 600px;
            
      }

#image1 {
      background-image: url("/asset/images/background-1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
       width: 100%;
       height: auto;     
       margin: 0.5rem; 
}

#image2 {
      background-image: url("/asset/images/background2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      height: auto;
      margin: 0.5rem;      
}

#image3 { background-image: url("/asset/images/discovery.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          position: relative;
          width: 450px;
          height: auto;
          margin: 0.5rem;
}

/* end of benvenuti*/

/* FILE OF BE A MEMBER*/
/**/
.member{
      padding: 0.5rem;
      border: 3px solid white;
      background-color: white;
      width: 80%;
      height: 600px;
      left: 10%;
      position:absolute;
}
#member1 {
      background-image: url("/asset/images/member2.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 100%;
      height: 100%;
      position: relative;
}

/* About us*/

#map {
      height: 100%;
      width: 100%;
      border: none;
  }
  
  #map-wrapper {
  
      height: 500px;
      margin-bottom: 20px;
  }

  .about-us-style {
      padding: 0.5rem;
      width: 100%;
      height: auto;
      background-color: #F2E8E4;
      font-weight: bold;
      font-style: normal;
      margin: 0.5rem;
  }
 /**/


 /* FILE*/

/*
.hero {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background: #222;
      min-height: 100%;
}

.card-grid{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-column: 24px;
      max-width: 1200px;
      width: 100%;
}

.card {
      position: relative;
      list-style: none;
      height: 450px;
}
 
.background {
      position: absolute;
      top:0%;
      left: 0;
      right: 0%;
      bottom: 0%;
      background-size: cover;
      background-position: center;
}
*/